/* INTERNAL IMPORTS */
import * as constants from './constants'

/**
 * this action mark the beginning of the {{ pascalCase name }} click saga
 */
const handle{{ pascalCase name }}ClickStartedAction = () => ({
    type: constants.HANDLE_{{ upperCase (snakeCase name) }}_CLICK_SAGA_STARTED
})
/**
 * this action mark the end of the {{ pascalCase name }} click saga
 */
const handle{{ pascalCase name }}ClickFinishedAction = () => ({
    type: constants.HANDLE_{{ upperCase (snakeCase name) }}_CLICK_SAGA_FINISHED
})
/**
 * this action is triggered if an error occurs in {{ pascalCase name }} click saga.
 * @param {*} payload
 */
const handle{{ pascalCase name }}ClickErrorAction = payload => ({
    type: constants.HANDLE_{{ upperCase (snakeCase name) }}_CLICK_SAGA_ERROR,
    payload
})
/**
 * This action directly invokes the reducer to change the value
 * of the text input in the state.
 * @param {*} payload
 */
const handle{{ pascalCase name }}ValueReducer = payload => ({
    type: constants.HANDLE_{{ upperCase (snakeCase name) }}_VALUE_REDUCER,
    payload
})
/**
 * This action invokes a saga which starts a multi-step process
 * to manage the value of the title in the state.
 * @param {*} payload
 */
const handle{{ pascalCase name }}ClickAction = payload => ({
    type: constants.HANDLE_{{ upperCase (snakeCase name) }}_CLICK_ACTION,
    payload
})

/* The next object of actions are accessible by the component */
export const {{ camelCase name }}BindActions = {
    handle{{ pascalCase name }}ClickAction
}
/* The next object of actions are accessible by the sagas */
export const {{ camelCase name }}SagaActions = {
    handle{{ pascalCase name }}ValueReducer,
    handle{{ pascalCase name }}ClickStartedAction,
    handle{{ pascalCase name }}ClickFinishedAction,
    handle{{ pascalCase name }}ClickErrorAction
}
