export const HANDLE_{{ upperCase (snakeCase name) }}_VALUE_REDUCER = '{{ camelCase name }}/handleValueReducer'
export const HANDLE_{{ upperCase (snakeCase name) }}_CLICK_ACTION = '{{ camelCase name }}/handleClickAction'
export const HANDLE_{{ upperCase (snakeCase name) }}_CLICK_SAGA_STARTED = '{{ camelCase name }}/handleClickSagaStarted'
export const HANDLE_{{ upperCase (snakeCase name) }}_CLICK_SAGA_FINISHED = '{{ camelCase name }}/handleClickSagaFinished'
export const HANDLE_{{ upperCase (snakeCase name) }}_CLICK_SAGA_ERROR = '{{ camelCase name }}/handleClickSagaError'
