/* EXTERNAL IMPORTS */
import { connect } from 'react-redux'
import { bindActionCreators, compose } from 'redux'

/* INTERNAL IMPORTS */
import InjectReducer from '../../components/utils/inject-reducer'
import InjectSaga from '../../components/utils/inject-saga'
import * as selectors from './selectors'
import { {{ camelCase name }}BindActions } from './actions'
import { {{ camelCase name }}Reducer } from './reducer'
import { {{ camelCase name }}Saga } from './saga'
import { {{ pascalCase name }} } from '../../components/{{ dashCase name }}'

/**
 * Map the Redux store’s state to properties.
 * @param {*} state
 */
const mapStateToProps = state => ({
    value: selectors.{{ camelCase name }}ValueSelector(state)
})

/**
 * Map the Redux store’s actions to properties.
 * @param {*} dispatch
 */
const mapDispatchToProps = dispatch => ({
    actions: bindActionCreators({{ camelCase name }}BindActions, dispatch)
})

/* Props to deals with your Redux store */
const withConnect = connect(mapStateToProps, mapDispatchToProps)

/* The reducer is dynamically injected */
const withReducer = InjectReducer('{{ camelCase name }}', {{ camelCase name }}Reducer)

/* The saga is dynamically injected */
const withSaga = InjectSaga('{{ camelCase name }}', {{ camelCase name }}Saga)

/* Connect the React component to a Redux store with the injectors */
export const {{ pascalCase name }}Container = compose(withReducer, withSaga, withConnect)({{ pascalCase name }})
