/* EXTERNAL IMPORTS */
import produce from 'immer'
import { handleActions } from 'redux-actions'

/* INTERNAL IMPORTS */
import initialState from './state'
import * as constants from './constants'

/**
 * The next functions specify how the application's state changes
 * in response to actions sent to the store.
 */

const handleValue = (state, action) => {
    const { payload } = action
    return produce(state, draft => {
        draft.value = payload
    })
}

const {{ camelCase name }}Reducer = produce(
    handleActions(
        {
            [constants.HANDLE_{{ upperCase (snakeCase name) }}_VALUE_REDUCER]: handleValue
        },
        initialState
    )
)

export { {{ camelCase name }}Reducer }
