import {
    put,
    takeEvery
} from 'redux-saga/effects'

import { {{ camelCase name }}SagaActions as actions } from './actions'
import * as constants from './constants'

function* handle{{ pascalCase name }}ClickHandler(action) {
    yield put(actions.handle{{ pascalCase name }}ClickStartedAction())
    try {
        const { payload } = action
        yield put(actions.handle{{ pascalCase name }}ValueReducer(payload))
        yield put(actions.handle{{ pascalCase name }}ClickFinishedAction())
    } catch (error) {
        yield put(actions.handle{{ pascalCase name }}ClickErrorAction(error))
    }
}
export function* {{ camelCase name }}Saga() {
    yield takeEvery(
        constants.HANDLE_MAIN_CLICK_ACTION,
        handle{{ pascalCase name }}ClickHandler
    )
}
