/* EXTERNAL IMPORTS */
import _ from 'lodash'

/**
 * Functions that accepts Redux state as an argument and returns
 * data that is derived from that state.
 */

export const {{ camelCase name }}ValueSelector = state => _.get(state, ['{{ camelCase name }}', 'value'])
