html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: 'Noto Sans', sans-serif;
}
:root {
    --color-background: #{$color-background};
    --color-primary: #{$color-primary};
    --color-text: #{$color-text};
}
