import React from 'react'
import p from 'prop-types'

class {{ pascalCase name }} extends React.Component {
    constructor(props) {
        super(props)
        this.state = {}
    }

    componentWillMount() {}

    componentDidMount() {}

    componentWillUpdate() {}

    componentDidUpdate() {}

    componentWillUnmount() {}

    render() {
        return (
            <div className="{{ dashCase name }}-container">
                <h1>{`Component ${this.props.name}`}</h1>
            </div>
        )
    }
}

{{ pascalCase name }}.propTypes = {
    name: p.string
}

{{ pascalCase name }}.defaultProps = {
    name: '{{ name }}'
}

{{#if wantLoadable}}
export default {{ pascalCase name }}
{{else}}
export { {{ pascalCase name }} }
{{/if}}
