import React from 'react'
import p from 'prop-types'

const {{ pascalCase name }} = ({ name }) => (
    {{#if wantStyle}}
    <div className="{{ dashCase name }}-container">
    {{else}}
    <div>
    {{/if}}
        <h1>{`Component ${name}`}</h1>
    </div>
)

{{ pascalCase name }}.propTypes = {
    name: p.string
}

{{ pascalCase name }}.defaultProps = {
    name: '{{ name }}'
}

{{#if wantLoadable}}
export default {{ pascalCase name }}
{{else}}
export { {{ pascalCase name }} }
{{/if}}
